@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --blue: #4682b4;
    --orange: #ffa500;
    --purple: #44196c;
    --gray: #676767;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    transition-duration: 0.5s;
}

body {
    background-color: var(--gray);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: var(--black);
}

